.loginContainer {
  width: 100%;
  height: 100%;
  font-size: 14px;

  .loginFormContainer {
    margin-top: 3rem;
    align-content: center;

    .loginForm {
      padding: 2em 3.5em 6em;
      margin: 2em 30% 0.8em;
      background-color: #d9d9d961;
      border-radius: 0.5em;
    }
  }

  .formDiv {
    margin-top: 0.3em;

    .formInput {
      line-height: 3em;
      border-radius: 0.2em;
      opacity: 1;
      background-color: hsl(0deg 0% 75% / 73%);
      border: none;
    }

    span {
      background-color: hsla(0, 0%, 75%, 0.73);
      border: none;
      border-top-right-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
    }
  }

  .buttonParagraph {
    line-height: 1em;
    font-size: 1em;
  }

  .textButton {
    color: #03586a;
    background-color: unset;
    border: unset;
    line-height: 1em;
    font-size: 1em;
    text-decoration: none;

    &:hover {
      box-shadow: unset;
      border: unset;
      color: hsla(0, 0%, 0%, 0.648);
    }

    &:focus {
      box-shadow: unset;
      border: unset;
    }
  }

  .submitButton {
    background-color: #03586a;
    border-radius: 6em;
    color: white;
    float: right;
    font-size: 14px;
    line-height: 1em;
    width: 8em;
  }

  .eyeIcon {
    cursor: pointer;
  }
}
