rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // General rule for all collections and documents
    match /{document=**} {
      allow read: if true; 
      allow write:  if request.auth != null; 
    }

    // Specific rules for avaliacoes collection
    match /avaliacoes/{avaliacao_id} {
      // Allow any user to read
      allow read: if true;

      // Allow only authenticated users to create
      allow create: if request.auth != null;

      // Allow only the creator of the avaliacao to update
      allow update: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}
